.main{
    height: 300px;
    width: 480px;
    border-radius:20px;
    background-color:wheat;
    margin: auto;
    margin-top: 75px;
}
.box1{
    border: 1px solid black;
    height: 300px;
    width: 240px;
    border-radius: 20px;
    background:linear-gradient(rgb(12, 12, 82),rgb(8, 8, 255));
}
.circle{
    height: 105px;
    width: 105px;
    border-radius:50%;
    margin: auto;
    margin-top:25px;
    background-color: blue;    
}
.text1{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    margin-top: 25px;
    text-align: center;
} 
b{
    font-size:55px;
}
.text2{
    margin: auto;
    margin-top:25px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
    margin: auto;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    margin-left:-15px;
    color: aliceblue;
}
.box2{
    /* border: 1px solid black; */
    height: 300px;
    width: 240px;
    border-radius: 20px;
    float: right;
    margin-top: -300px;
}

.text4{
    /* border: 1px solid black; */
    margin-top: 15px;
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text5{
    /* border: 1px solid black; */
    border-radius: 15px;
    height: 20px;
    width: 200px;
    margin-left:20px ;
    margin-top: 20px;
    background-color: rgb(248, 194, 94);
}
.in1{
    /* border: 1px solid black; */
    width: 80px;
    height:15px;
    margin-top: -1px;
    font-size: 14px;
    align-items: center;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.in2{
    /* border: 2px solid black; */
    width: 50px;
    float: right;
    margin-top:-13px;
    height: 10px;
    font-size: 13px;
    margin-right: 10px;
    color: orangered;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.text6{
      border-radius: 15px;
      height: 20px;
      width: 200px;
      margin-left:20px ;
      margin-top: 20px;
      background-color:pink;
}
.text7{
      border-radius: 15px;
      height: 20px;
      width: 200px;
      margin-left:20px ;
      margin-top: 20px;
      background-color:blueviolet;
}
.text8{
      /* border: 1px solid black; */
      border-radius: 15px;
      height: 20px;
      width: 200px;
      margin-left:20px ;
      margin-top: 20px;
      background-color:rgb(245, 87, 113);
}
.in3{
    color: rgb(236, 41, 161);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 80px;
     height:15px;
     margin-top: -1px;
     font-size: 14px;
     align-items: center;
}
.in4{
    width: 50px;
    float: right;
    margin-top:-13px;
    height: 10px;
    font-size: 13px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(223, 29, 165);
}
.in5{
     width: 80px;
     height:15px;
     margin-top: -1px;
     font-size: 14px;
     align-items: center;
     color:rgb(178, 117, 235);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.in6{
        width: 50px;
        float: right;
        margin-top:-13px;
        height: 10px;
        font-size: 13px;
        margin-right: 10px;
        color:rgb(178, 114, 237);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.in7{
     width: 80px;
     height:15px;
     margin-top: -1px;
     font-size: 14px;
     align-items: center;
     color:rgb(223, 50, 78);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.in8{
     width: 50px;
     float: right;
     margin-top:-13px;
     height: 10px;
     font-size: 13px;
     margin-right: 10px;
     color:rgb(223, 50, 78);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text9{
        /* border: 1px solid black; */
        border-radius: 15px;
        height: 30px;
        width: 200px;
        margin-left:20px ;
        margin-top: 20px;
        background-color:black;
        color: aliceblue;
        text-align: center;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
}
    